.edit__container {
    width: 100%;
    padding: 100px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .edit__container .edit__container__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 0 50px 0;
    width: 720px;
    height: 100%;
    background-color: var(--white);
    border: 2px solid var(--blue);
    -webkit-box-shadow: 5px 5px var(--red);
            box-shadow: 5px 5px var(--red);
  }
  
  .edit__container .edit__container__wrap .edit-header {
    padding-top: 25px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--grey40);
  }
  
  .edit__container .edit__container__wrap .edit-form {
    width: 100%;
    height: 425px;
  }
  
  .edit__container .edit__container__wrap .edit-form form {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .edit__container .edit__container__wrap .edit-form form .form-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 12px;
    width: 400px;
  }
  
  .edit__container .edit__container__wrap .edit-form form .form-control img {
    width: 25px;
    position: absolute;
    -webkit-transform: translate(360px, 44px);
            transform: translate(360px, 44px);
    visibility: hidden;
  }
  
  .edit__container .edit__container__wrap .edit-form form .form-control small {
    margin-top: 5px;
    margin-left: 10px;
    visibility: hidden;
    color: #e74c3c;
    font-size: 10px;
  }
  
  .edit__container .edit__container__wrap .edit-form form .form-control label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .edit__container .edit__container__wrap .edit-form form .form-control input {
    width: 400px;
    height: 48px;
    border: 1px solid var(--grey70);
    border-radius: 8px;
    padding-left: 20px;
    font-size: 16px;
  }
  
  .edit__container .edit__container__wrap .edit-form form .form-control input::-webkit-input-placeholder {
    font-size: 16px;
    color: var(--grey70);
  }
  
  .edit__container .edit__container__wrap .edit-form form .form-control input:-ms-input-placeholder {
    font-size: 16px;
    color: var(--grey70);
  }
  
  .edit__container .edit__container__wrap .edit-form form .form-control input::-ms-input-placeholder {
    font-size: 16px;
    color: var(--grey70);
  }
  
  .edit__container .edit__container__wrap .edit-form form .form-control input::placeholder {
    font-size: 16px;
    color: var(--grey70);
  }
  
  .edit__container .edit__container__wrap .edit-form form .form-control.error small, .edit__container .edit__container__wrap .edit-form form .form-control.error .wrong {
    visibility: visible;
  }
  
  .edit__container .edit__container__wrap .edit-form form .form-control.error input {
    border-color: #e74c3c;
  }
  
  .edit__container .edit__container__wrap .edit-form form .form-control.success .check {
    visibility: visible;
  }
  
  .edit__container .edit__container__wrap .edit-form form .form-control.success input {
    border-color: #2ecc71;
  }
  
  .edit__container .edit__container__wrap .edit-button {
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .edit__container .edit__container__wrap .edit-button .button-cancel button:focus, .edit__container .edit__container__wrap .edit-button .button-save button:focus {
    outline: none;
  }
  
  .edit__container .edit__container__wrap .edit-button .button-cancel button:active, .edit__container .edit__container__wrap .edit-button .button-save button:active {
    -webkit-transition: ease 0.2s;
    transition: ease 0.2s;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  
  .edit__container .edit__container__wrap .edit-button .button-cancel button, .edit__container .edit__container__wrap .edit-button .button-save button {
    -webkit-transition: ease 0.2s;
    transition: ease 0.2s;
  }
  
  .edit__container .edit__container__wrap .edit-button .button-cancel button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 150px;
    height: 40px;
    background-color: var(--white);
    border: 2px solid var(--blue);
    -webkit-box-shadow: 5px 5px var(--red);
            box-shadow: 5px 5px var(--red);
    color: var(--grey70);
    cursor: pointer;
  }
  
  .edit__container .edit__container__wrap .edit-button .button-save button {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 150px;
    height: 40px;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
  }
  
  @media (max-width: 900px) {
    .edit__container {
      padding: 50px 0;
    }
    .edit__container .edit__container__wrap {
      padding: 25px 0 50px 0;
      width: 70vw;
    }
    .edit__container .edit__container__wrap .edit-header h1 {
      font-size: 24px;
    }
    .edit__container .edit__container__wrap .edit-form {
      height: 280px;
    }
    .edit__container .edit__container__wrap .edit-form form .form-control {
      width: 226px;
      margin-top: 12px;
    }
    .edit__container .edit__container__wrap .edit-form form .form-control img {
      width: 12px;
      -webkit-transform: translate(205px, 30px);
              transform: translate(205px, 30px);
    }
    .edit__container .edit__container__wrap .edit-form form .form-control small {
      font-size: 8px;
      margin-top: 3px;
    }
    .edit__container .edit__container__wrap .edit-form form .form-control label {
      font-size: 8px;
      margin-top: 3px;
    }
    .edit__container .edit__container__wrap .edit-form form .form-control input {
      width: 226px;
      height: 27px;
      font-size: 9px;
      border-radius: 4px;
    }
    .edit__container .edit__container__wrap .edit-form form .form-control input::-webkit-input-placeholder {
      font-size: 9px;
    }
    .edit__container .edit__container__wrap .edit-form form .form-control input:-ms-input-placeholder {
      font-size: 9px;
    }
    .edit__container .edit__container__wrap .edit-form form .form-control input::-ms-input-placeholder {
      font-size: 9px;
    }
    .edit__container .edit__container__wrap .edit-form form .form-control input::placeholder {
      font-size: 9px;
    }
    .edit__container .edit__container__wrap .edit-button {
      width: 226px;
    }
    .edit__container .edit__container__wrap .edit-button .button-cancel button, .edit__container .edit__container__wrap .edit-button .button-save button {
      width: 100px;
      height: 34px;
      font-size: 12px;
    }
  }
  
  @media (max-width: 440px) {
    .edit__container {
      padding: 30px 0;
    }
    .edit__container .edit__container__wrap {
      padding: 25px 0 50px 0;
      width: 70vw;
    }
    .edit__container .edit__container__wrap .edit-header h1 {
      font-size: 18px;
    }
    .edit__container .edit__container__wrap .edit-form {
      height: 280px;
    }
    .edit__container .edit__container__wrap .edit-form form .form-control {
      width: 180px;
      margin-top: 6px;
    }
    .edit__container .edit__container__wrap .edit-form form .form-control img {
      width: 12px;
      -webkit-transform: translate(158px, 30.5px);
              transform: translate(158px, 30.5px);
    }
    .edit__container .edit__container__wrap .edit-form form .form-control small {
      font-size: 8px;
      margin-top: 3px;
    }
    .edit__container .edit__container__wrap .edit-form form .form-control label {
      font-size: 8px;
      margin-top: 3px;
    }
    .edit__container .edit__container__wrap .edit-form form .form-control input {
      width: 180px;
      height: 28px;
      font-size: 9px;
      border-radius: 4px;
    }
    .edit__container .edit__container__wrap .edit-form form .form-control input::-webkit-input-placeholder {
      font-size: 9px;
    }
    .edit__container .edit__container__wrap .edit-form form .form-control input:-ms-input-placeholder {
      font-size: 9px;
    }
    .edit__container .edit__container__wrap .edit-form form .form-control input::-ms-input-placeholder {
      font-size: 9px;
    }
    .edit__container .edit__container__wrap .edit-form form .form-control input::placeholder {
      font-size: 9px;
    }
    .edit__container .edit__container__wrap .edit-button {
      width: 180px;
    }
    .edit__container .edit__container__wrap .edit-button .button-cancel button, .edit__container .edit__container__wrap .edit-button .button-save button {
      width: 80px;
      height: 34px;
      font-size: 12px;
    }
  }
  /*# sourceMappingURL=changePassword.css.map */