@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
:root {
  --white: #ffffff;
  --grey40: #404040;
  --grey70: #707070;
  --blue: #003575;
  --red: #ED1C24;
  --black: #000000;
}

.timeline__container {
  padding: 50px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline__container .timeline__container__wrap {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timeline__container .timeline__container__wrap .timeline-progressbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 10;
  width: 25%;
  height: auto;
}

.timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-header, .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-end {
  width: 124px;
  height: 26px;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EA3636), to(#751B1B));
  background-image: linear-gradient(to bottom, #EA3636, #751B1B);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-header p, .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-end p {
  font-size: 12px;
  font-weight: 700;
  color: var(--white);
}

.timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-end {
  cursor: pointer;
}

.timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-line-first {
  height: 41px;
  width: 4px;
  background-color: var(--red);
}

.timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-line {
  height: 420px;
  width: 4px;
  background-color: var(--blue);
  display: none;
}

.timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-line .progress-bar-round {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--red);
  position: absolute;
  -webkit-transform: translate(-10px, 0);
          transform: translate(-10px, 0);
}

.timeline__container .timeline__container__wrap .timeline-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 65px 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 10px 140px;
}

.timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-x {
  display: none;
}

.timeline__container .timeline__container__wrap .timeline-grid .no {
  background-color: transparent;
}

.timeline__container .timeline__container__wrap .timeline-grid .yes {
  background-color: #fcfcfc;
}

.timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item {
  width: 405.25px;
  height: 410.82px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-img.img-1 img {
  width: 100%;
}

.timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-img.img-2 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-img.img-2 img {
  width: 100%;
}

.timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-img.img-3 img {
  width: 100%;
}

.timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-img {
  width: 405px;
  height: 266px;
  background-size: cover;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-img .timeline-box-img-detail {
  width: 124px;
  height: 26px;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EA3636), to(#751B1B));
  background-image: linear-gradient(to bottom, #EA3636, #751B1B);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 2;
}

.timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-img .timeline-box-img-detail p {
  font-size: 12px;
  font-weight: 700;
  color: var(--white);
}

.timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-text {
  padding: 15px;
  color: var(--grey40);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 144px;
}

.timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-text h2 {
  font-size: 20px;
  font-weight: 700;
}

.timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-text p {
  font-size: 15px;
  font-weight: 500;
}

.timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-text p:nth-child(3) {
  font-size: 13px;
  opacity: 0.25;
}

@media (max-width: 1080px) {
  .timeline__container {
    padding: 50px 0;
    width: 100%;
  }
  .timeline__container .timeline__container__wrap {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar {
    z-index: 10;
    width: 10%;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-header, .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-end {
    width: 124px;
    height: 26px;
    border-radius: 12px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EA3636), to(#751B1B));
    background-image: linear-gradient(to bottom, #EA3636, #751B1B);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-header p, .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-end p {
    font-size: 12px;
    font-weight: 700;
    color: var(--white);
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-line-first {
    height: 40px;
    width: 4px;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-line {
    height: 365px;
    width: 4px;
  }
  .timeline__container .timeline__container__wrap .no {
    display: none;
  }
  .timeline__container .timeline__container__wrap .timeline-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding: 65px;
    margin-left: 0px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 10px 10px;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item.no {
    display: none;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item {
    width: 450px;
    height: 344.81px;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-img {
    width: 450px;
    height: 197px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 760px) {
  .timeline__container {
    padding: 50px 0;
    width: 100%;
  }
  .timeline__container .timeline__container__wrap {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar {
    z-index: 10;
    width: 10%;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-header, .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-end {
    width: 124px;
    height: 26px;
    border-radius: 12px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EA3636), to(#751B1B));
    background-image: linear-gradient(to bottom, #EA3636, #751B1B);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-header p, .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-end p {
    font-size: 12px;
    font-weight: 700;
    color: var(--white);
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-line-first {
    height: 40px;
    width: 4px;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-line {
    height: 365px;
    width: 4px;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-round-grid {
    display: -ms-grid;
    display: grid;
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 20;
    height: 1065px;
    padding-top: 60px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-round-grid .round-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    height: 355px;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-round-grid .round-box .round {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--red);
  }
  .timeline__container .timeline__container__wrap .timeline-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding: 65px;
    margin-left: 60px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 10px 10px;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item.no {
    display: none;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item {
    width: 450px;
    height: 344.81px;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-img {
    width: 450px;
    height: 197px;
  }
}

@media (max-width: 590px) {
  .timeline__container .timeline__container__wrap {
    width: 90%;
    padding-left: 25px;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar {
    z-index: 10;
    width: 5%;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-header, .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-end {
    width: 90px;
    height: 24px;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-header p, .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-end p {
    font-size: 10px;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-line-first {
    height: 35px;
    width: 4px;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-line {
    height: 335px;
    width: 4px;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-line .progress-bar-round {
    width: 18px;
    height: 18px;
    -webkit-transform: translate(-6px, 0);
            transform: translate(-6px, 0);
  }
  .timeline__container .timeline__container__wrap .timeline-grid {
    display: -ms-grid;
    display: grid;
    padding: 65px 0;
    margin-right: 0px;
    width: 95%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    grid-gap: 0 0;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item.no {
    display: none;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item {
    width: 71.186vw;
    height: 283px;
    margin-bottom: 50px;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-img {
    width: 71.186vw;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-img .timeline-box-img-detail {
    width: 86px;
    height: 18px;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-img .timeline-box-img-detail p {
    font-size: 8px;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-text {
    padding: 15px;
    height: 144px;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-text h2 {
    font-size: 17px;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-text p {
    font-size: 13px;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-text p:nth-child(3) {
    font-size: 11px;
  }
}

@media (max-width: 400px) {
  .timeline__container .timeline__container__wrap {
    width: 90%;
    padding-left: 25px;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar {
    z-index: 10;
    width: 5%;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-header, .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-end {
    width: 63.3px;
    height: 16.73px;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-header p, .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-end p {
    font-size: 7px;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-line-first {
    height: 15px;
    width: 4px;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-line {
    height: 280px;
    width: 4px;
  }
  .timeline__container .timeline__container__wrap .timeline-progressbar .progressbar-line .progress-bar-round {
    width: 16px;
    height: 16px;
    -webkit-transform: translate(-6px, 0);
            transform: translate(-6px, 0);
  }
  .timeline__container .timeline__container__wrap .timeline-grid {
    display: -ms-grid;
    display: grid;
    padding: 35px 0;
    margin-right: 0px;
    width: 95%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item.no {
    display: none;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item {
    width: 66.147vw;
    height: 250px;
    margin-bottom: 30px;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-img {
    width: 66.147vw;
    height: 150px;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-img .timeline-box-img-detail {
    width: 80px;
    height: 16px;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-img .timeline-box-img-detail p {
    font-size: 6px;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-text {
    padding: 15px;
    height: 144px;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-text h2 {
    font-size: 13px;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-text p {
    font-size: 10px;
  }
  .timeline__container .timeline__container__wrap .timeline-grid .timeline-grid-item .timeline-box-text p:nth-child(3) {
    font-size: 9px;
  }
}

.oam__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 0;
}

.oam__container .oam__container__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.oam__container .oam__container__wrap .oam-official {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.oam__container .oam__container__wrap .oam-official img {
  width: 362px;
  height: 305px;
}

.oam__container .oam__container__wrap .oam-media {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.oam__container .oam__container__wrap .oam-media .oam-media-header h1 {
  font-size: 33px;
  color: var(--blue);
}

.oam__container .oam__container__wrap .oam-media .oam-media-img img {
  width: 959px;
  height: 312px;
}

@media (max-width: 1480px) {
  .oam__container .oam__container__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
  .oam__container .oam__container__wrap .oam-official {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .oam__container .oam__container__wrap .oam-official img {
    width: 300px;
    height: 252px;
  }
  .oam__container .oam__container__wrap .oam-media {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .oam__container .oam__container__wrap .oam-media .oam-media-header h1 {
    font-size: 30px;
  }
  .oam__container .oam__container__wrap .oam-media .oam-media-img img {
    width: 799px;
    height: 260px;
  }
}

@media (max-width: 1200px) {
  .oam__container {
    padding: 0px 0;
  }
  .oam__container .oam__container__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
  .oam__container .oam__container__wrap .oam-official {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 40px;
  }
  .oam__container .oam__container__wrap .oam-official img {
    width: 300px;
    height: 252px;
  }
  .oam__container .oam__container__wrap .oam-media {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .oam__container .oam__container__wrap .oam-media .oam-media-header h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .oam__container .oam__container__wrap .oam-media .oam-media-img img {
    width: 799px;
    height: 260px;
  }
}

@media (max-width: 860px) {
  .oam__container .oam__container__wrap {
    width: 80%;
  }
  .oam__container .oam__container__wrap .oam-official {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 40px;
  }
  .oam__container .oam__container__wrap .oam-official img {
    width: 260px;
    height: 220px;
  }
  .oam__container .oam__container__wrap .oam-media {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .oam__container .oam__container__wrap .oam-media .oam-media-header h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .oam__container .oam__container__wrap .oam-media .oam-media-img img {
    width: 93.023vw;
    height: 30.233vw;
  }
}

@media (max-width: 400px) {
  .oam__container .oam__container__wrap .oam-official {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 35px;
  }
  .oam__container .oam__container__wrap .oam-official img {
    width: 65vw;
    height: 55vw;
  }
  .oam__container .oam__container__wrap .oam-media {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .oam__container .oam__container__wrap .oam-media .oam-media-header h1 {
    font-size: 16px;
  }
}
/*# sourceMappingURL=eventpage.css.map */